<h1>Nika nika Store</h1>

<% @products.each do |product| %>
  <p>
    <%= product.code %> / <%= product.name %>, <%= product.price %>
    <%= link_to "Add to cart", line_items_create_path(product), method: :post %>
  </p>
<% end %>


<p>
  <h2>Cart items <%= link_to "X", clear_cart_path(@cart), method: :post, data: { confirm: "Are you sure to empty cart" } %></h2>
</p>
<ul>
  <% @cart.line_items.each do |item| %>
    <li>
      <%= item.product.name %> | x<%=  item.quantity %> |
      <%= item.sub_total %> |
      <%= link_to "Moins (-1)", line_item_reduce_path(item), method: :post %>
      <%= link_to "Plus (+1)", line_item_add_path(item), method: :post %> | 
      <%= link_to "Supprimer", line_item_path(item), method: :delete %> 
    </li>
  <% end %>
</ul>
<p>Total price: <%= @cart.total_price %> | <%= link_to "Valider 'Cart'", orders_path(@cart), method: :post %></p>

<h2>Orders history</h2>
<% @orders.each do |order| %>
  <p>
    ### Order N*<%= order.id %>
  </p>
  <% order.cart.line_items.each do |item| %>
    <p>
      - <%= item.product.name %> x<%= item.quantity %> <%= item.sub_total %>
    </p>
  <% end %>
  <p>
    Total price: (<%= order.cart.total_price %>)
  </p>
  <p>------------------------------------------------------------------------------</p>
<% end %>